<section class="contact-container">
    <h2>Contact Me</h2>
    <p>If you have any questions or opportunities, feel free to reach out!</p>
  
    <form class="contact-form">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Enter your name" required />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Enter your email" required />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <textarea matInput rows="5" placeholder="Enter your message" required></textarea>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Send Message</button>
    </form>

    <div class="social-links">
        <a href="https://github.com/YaShBaNsAl08" target="_blank"><img src="github-logo.png" alt="github" /></a>
        <a href="https://www.linkedin.com/in/yash-bansal-03076a1b6" target="_blank"><img src="linkedin-logo.png" alt="linkedin" /></a>
    </div>
  </section>
  