<div @fadeIn class="home-container">
    <div class="intro">
        <img src="my profile.png" alt="profile-pic" class="profile-pic">
        <h1>Hii I'm Yash Bansal</h1>
        <p>{{text}}</p>
        <p>I love creating modern web applications with Angular or React</p>
        <button mat-raised-button routerLink="/project">View My Projects</button>
    </div>
    <div>
        <a
  href="#"
  download
  class="resume-btn"
  data-aos="zoom-in"
  data-aos-delay="200">
  <button mat-raised-button color="accent">
    <mat-icon>download</mat-icon>
    Download Resume
  </button>
</a>

    </div>
    <div class="social-link">
        <a href="https://github.com/YaShBaNsAl08" target="_blank"><img src="github-logo.png" alt="github" /></a>
        <a href="https://www.linkedin.com/in/yash-bansal-03076a1b6" target="_blank"><img src="linkedin-logo.png" alt="linkedin" /></a>
    </div>
</div>