:host{
    display: block;
    background: linear-gradient(45deg, #ff4b6e, #ff8c8c, #e01e63, #b3003b);
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite;
    

}
@keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  