.projects-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.projects-container h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: bold;
}

.projects-container p {
  font-size: 1.1rem;
  color: #d1d5db;
  margin-bottom: 30px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.project-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border-radius: 15px;
  padding: 15px;
  border: 1px solid rgba(255,255,255,0.1);

  transition: all 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.project-card img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}


.project-card h3 {
  margin: 10px 0;
  color: #ffffff;
}

.tech-used span {
  display: inline-block;
  background: rgba(255,255,255,0.15);
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 5px;
  font-size: 0.8rem;
}

.project-links a {
  margin: 8px;
  text-decoration: none;
  color: #38bdf8;
  font-weight: 500;
}

.project-links a:hover {
  color: #f472b6;
}